html {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    font-size: 18px;
    font-family: "Public Sans", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

a, button {
    cursor: pointer;
}

p {
    margin: 0;
}

h1, h2 {
    margin-bottom: 50px;
    margin-top: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    background-color: var(--dark-blue);
    color: var(--grayish-blue);
    padding-bottom: 10px;
}
    
.attribution a { 
    color: var(--very-light-gray); 
    text-decoration: underline;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    position: relative;
    background: var(--white);
}

.navigation a {
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
    cursor: pointer;
}

.invite-button {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    color: var(--white);
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    width: fit-content;
}

.invite-button:hover {
    background: linear-gradient(to right, hsla(136, 65%, 51%, 0.5), hsla(192, 70%, 51%, 0.5));
}

a {
    color: var(--grayish-blue);
    text-decoration: none;
}

.logo {
    width: auto;
    height: 25px;
    cursor: pointer;
}

.page-section {
    background-color: var(--very-light-gray);
    display: flex;
    flex-direction: column;
    padding: 80px 150px;
}

#gray {
    background-color: var(--light-grayish-blue);
}

#first-section {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.icon-background {
    width: 50%;
    position: absolute;
    top: -100px;
    right: -170px;
}

.p-s-text {
    width: 50%;
}

.p-s-text h1 {
    width: 50%;
}

#first-section-text {
    width: 80%;
}

.ch-cd-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.ch-cd-text {
    color: var(--grayish-blue);
    width: 80%;
}

h3 {
    color: var(--dark-blue);
    font-weight: 400;
}

h2 {
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 2rem;
}

h1 {
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 2.5rem;
}

.section-text {
    color: var(--grayish-blue);
    width: 50%;
    margin-bottom: 50px;
}

.art-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.art-card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
    cursor: pointer;
}

.footer {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px 150px;
}

.nav-footer a {
    color: var(--white);
}

.nav-footer a:hover {
    color: var(--lime-green);
}

.f-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 30px;
}

.f-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.rights {
    color: var(--grayish-blue);
    margin: 0;
}

.art-cd-text {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.art-cd-img {
    border-radius: 10px 10px 0 0;
    height: 200px;
}

.nav-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    row-gap: 10px;
}

.social-networks {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.author, .art-text {
    color: var(--grayish-blue);
}

.art-cd-title {
    color: var(--dark-blue);
    font-weight: 500;
}

.art-cd-title:hover {
    color: var(--bright-cyan);
}

.social-networks a svg path:hover {
    fill: var(--lime-green);
}

.navigation a:hover {
  color: var(--dark-blue);
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navigation a:hover::after {
  transform: scaleX(1);
}

.burger {
  display: none;
}

#burger, #close {
    display: none;
}

@media (max-width: 768px) {

    .page-section, .footer, #first-section {
        flex-direction: column;
        padding: 40px 30px;
        align-items: center;
        justify-content: center;
    }

    .footer {
        gap: 30px;
    }

    .p-s-text, .p-s-text h1, #first-section-text, .section-text {
        width: 100%;
        text-align: center;
    }

    .ch-cd-section, .art-section {
        flex-direction: column;
    }

    .nav-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .f-right {
        align-items: center;
    }

    .choose-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ch-cd-text {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .icon-background {
        display: block;
        margin-top: -350px;
        width: 800px;
        position: initial;
    }

    .header {
        padding: 10px 30px;
        z-index: 10;
        position: relative;
        background: var(--white);
    }

    .navigation {
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 60px;
        left: 1rem;
        background: white;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        z-index: 10;
    }

    .navigation.active {
        display: flex;
        width: 80%;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 400%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navigation.active a {
        color: var(--dark-blue);
    }

    .burger {
        display: block;
    }

    #header-button {
        display: none;
    }

    .close-btn {
        display: none;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(45, 49, 77, 0.5);
        z-index: 5;
    }

    .overlay.active {
        display: block;
    }
}